#alarmImage	{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 78px;
	height: 78px;
}

#alarmText {
	position: absolute;
	left: 90px;
	top: 45px;
	height: 33px;
}

#alarmTitle {
	position: absolute;
	left: 90px;
	top: 0px
	height: 33px;
}